{% extends 'base.html.twig' %}

{% block title %}Liste des Commandes - {{ parent() }}{% endblock %}

{% block body %}
        <!-- Orders Section -->
        <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="orders">
            <h1>Tableau de bord Client</h1>

            <!-- Commandes Active -->
            <h2 class="w3-wide">Votre commande en cours</h2>

            {% if activeOrder is not null %}
                <table class="w3-table-all" style="margin-top:50px;">
                  <tr>
                    <th>Utilisateur: {{ activeOrder.username }}</th>
                    <th>Statut: {{ activeOrder.status|capitalize }}</th>
                    <th>Prix total: {{ activeOrder.totalPrice|number_format(2, ',') }}€</th>
                    <th>
                        <a href="{{ path('order_validate') }}" class="w3-button w3-blue-gray" type="button">
                            Valider Commande
                        </a>
                    </th>
                    <th>
                        <a href="{{ path('order_delete', {'orderId' : activeOrder.id}) }}" class="w3-button w3-red" type="button">
                            Supprimer Commande
                        </a>
                    </th>
                  </tr>
                  <!-- Seconde rangée, légende des Reservation -->
                  <tr>
                    <th>Chambre</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Date d'ajout au Panier</th>
                    <th>Supprimer la Réservation</th>
                  </tr>
                  <!-- Réservation -->
                  {% for reservation in activeOrder.reservations %}
                    <tr>
                        <td>{{ reservation.chambreName }}</td>
                        <td>{{ reservation.quantity }}</td>
                        <td>
                          {{ reservation.totalPrice|number_format(2, ',') }}€<br>
                          ({{ reservation.chambre.price|number_format(2, ',') }}€ par unité)
                        </td>
                        <td>{{ reservation.creationDate|date('d/m/Y à G:i', 'Europe/Paris') }}</td>
                        <td>
                            <a href="{{ path('reservation_delete', {'reservationId' : reservation.id}) }}" class="w3-button w3-red" type="button">
                              Supprimer
                            </a>
                        </td>
                    </tr>
                  {% endfor %}
                </table>
            {% else %}
                <p><b>Vous n'avez aucune commande en cours.</b></p>
            {% endif %}

            <!-- Commandes archivées -->
            <h2 class="w3-wide">Commandes Archivées</h2>

            {% if archivedOrders is not empty %}
                {% for order in archivedOrders %}
                    <table class="w3-table-all" style="margin-top:50px;">
                        <tr>
                            <th>Utilisateur: {{ order.username }}</th>
                            <th>Statut: {{ order.status|capitalize }}</th>
                            <th>Prix total: {{ order.totalPrice|number_format(2, ',') }}€</th>
                        </tr>
                        <!-- Seconde rangée, légende des Reservation -->
                        <tr>
                            <th>chambre</th>
                            <th>Quantité</th>
                            <th>Prix</th>
                            <th>Date d'ajout au Panier</th>
                        </tr>
                        <!-- Réservation -->
                        {% for reservation in order.reservations %}
                            <tr>
                                <td>{{ reservation.chambreName }}</td>
                                <td>{{ reservation.quantity }}</td>
                                <td>
                                {{ reservation.totalPrice|number_format(2, ',') }}€<br>
                                ({{ reservation.chambre.price|number_format(2, ',') }}€ par unité)
                                </td>
                                <td>{{ reservation.creationDate|date('d/m/Y à G:i', 'Europe/Paris') }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endfor %}
            {% else %}
                <p><b>Vous n'avez aucune commande archivée.</b></p>
            {% endif %}
            
        </div>
{% endblock %}
